a, .pagination>li>a, .pagination>li>span {
    color: #737373;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: #5bc0de;
    border-color: #46b8da;
}

h3.page-header{
    margin-top: 15px;
}
.hot-tags{
    padding-top: 10px;
}
.hot-tags a{
    padding: 4px 4px;
    display: inline-block;
    background: #dd4b39;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
}
.hot-tags a:hover{
    cursor: pointer;
    text-decoration: none;
    color:#dd4b39;
    background: #fff;
}
.x-small-font {
    font-size: 12px;
}
.small-font {
    font-size: 14px;
}

h3.page-header {
    margin-top: 20px;
    padding-bottom: 20px;
}
table.table {
    table-layout: fixed;
}
table.table td{
    vertical-align: middle !important;
}

@media (min-width: 768px) {
    .navbar-header {
        width: 250px;
        text-align: center;
    }
    .navbar-brand {
        line-height: 50px;
        float: none;
    }
}
