@media (max-width: 767px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .content-row {
        margin-left: 0;
        margin-right: 0;
    }

    .content-main {
        padding-left: 0;
        padding-right: 0;
    }

    article.main {
        padding-top: 10px;
        padding-left: 0;
    }

    article.main .row {
        margin-left: 0;
        margin-right: 0;
    }

    article.main img {
        padding-top: 0;
        height: 30px;
        width: 30px;
    }

    article .home-post-info {
        vertical-align: top;
    }

    article div.item-title {
        line-height: 16px;
        padding-top: 0;
        font-size: 16px;
    }

    .post-avatar {
        vertical-align: text-top;
        padding: 0 5px 0 5px;
    }

    .navbar-form .form-group {
        display: inline-block;
    }

    .content .title-avatar {
        width: 50px;
        height: 50px;
    }

    .content .post-content {
        padding: 5px;
    }

    .content .post-tags {
        padding: 0 5px;
    }

    .navbar-form {
        text-align: center;
    }

    .content .topic-header {
        padding: 10px 5px 5px 5px;
    }

    ul.navbar-left li {
        text-align: center;
    }

    .navbar-avatar-mobile {
        display: block;
        padding: 0;
        border: none;
        position: relative;
        float: right;
        margin-top: 8px;
        margin-right: 5px;
        margin-left: 5px;
    }

    .navbar-avatar-mobile:focus {
        background: #ddd;
    }

    .navbar-avatar-mobile img {
        width: 33px;
        height: 33px;
    }

    .navbar-right {
        display: none;
    }

    .navbar-item-custom {
        border: none;
        margin-left: 0;
        padding-left: 5px;
        margin-right: 0;
        padding-right: 5px;
    }

    .navbar-item-custom:focus {
        background-color: #f8f8f8 !important;
    }

    .navbar-item-alert {
        margin-right: 0;
    }

    nav .nav-warn-dot {
        font-weight: bold;
        background: #FFC125;
        color: #fff;
    }

    nav .nav-common-dot {
        font-weight: normal;
        background: #CCCCCC;
        color: #fff;
    }

    .navbar-item-custom a {
        text-decoration: none;
    }

    .comments {
        padding-left: 5px;
        padding-right: 5px;
    }

    .comment-main {
        margin-left: 35px !important;
    }

    .comments > ul > li > span > img {
        width: 30px;
        height: 30px;
    }

    .comments span.comment-user-avatar {
        display: block;
    }

    .post-meta {
        margin-bottom: 2px;
    }

    .post-meta span {
        font-size: 12px;
        padding-right: 5px;
    }

    #sidebar {
        padding-right: 0;
        padding-left: 0;
    }
}
