{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                {{ form_widget(form) }}
                {% if attr['help'] is defined %}
                    <span class="help-block small-font">{{ attr['help'] }}</span>
                {% endif %}
            </div>
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
