{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form, '', {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-6">
                {{ form_widget(form) }}
                {% for attrname, attrvalue in attr %}
                    {% if attrname == 'help' %}
                        <span class="help-block small-font">{{ attrvalue }}</span>
                    {% endif %}
                {% endfor %}
            </div>
            {{ form_errors(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}