{% block form_row %}
    {% filter spaceless %}
        <div class="form-group">
            {{ form_label(form, '', {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-10" id="formHtmlEditor">
               <p> {{ data|raw }}</p>
            </div>
            <textarea {{ block('widget_attributes') }} class="hide" title="content"></textarea>
            {{ form_errors(form) }}
        </div>
    {% endfilter %}
{% endblock form_row %}
