{% block form_row %}
    {% filter spaceless %}
        <div class="form-group">
            {{ form_label(form, '', {label_attr: {class: 'col-sm-2'}}) }}
            <div class="col-sm-6">
                <img src="{{ asset(data.file) }}" alt="">
                {{ form_widget(form) }}
            </div>
            {{ form_errors(form) }}
        </div>
    {% endfilter %}
{% endblock form_row %}
