{% block checkbox_widget %}
    {% filter spaceless %}
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input {% if data == 1 %}checked{% endif %} type="checkbox" {{ block('widget_attributes') }}> {{ label }}

                    {% for attrname, attrvalue in attr %}
                        {% if attrname == 'help' %}
                            <span class="help-block x-small-font">{{ attrvalue }}</span>
                        {% endif %}
                    {% endfor %}
                </label>
                {{ form_errors(form) }}
            </div>
        </div>
    {% endfilter %}
{% endblock checkbox_widget %}
