<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}  <title>JetBlog Admin</title> {% endblock %}
    {% block head_css_link %}
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        <link href="/css/timeline.css" rel="stylesheet">
        <link href="/css/sb-admin-2.css" rel="stylesheet">
        <link href="/lib/morrisjs/morris.css" rel="stylesheet">
        <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    {% endblock %}

    {% block head_js_link %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}

</head>

<body>

<div id="wrapper">

    {% block navbar %}
        {% include '@YesknAdmin/nav.html.twig' %}
    {% endblock %}
    <div id="page-wrapper">
        {{ include('@YesknBlog/_flash_messages.html.twig') }}
        {% block page_wraper %}

        {% endblock %}
    </div>

</div>

{% block foot_js_link %}
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/metisMenu/dist/metisMenu.min.js"></script>
    <script src="/js/sb-admin-2.js"></script>
{% endblock %}
</body>
</html>
