{% set ads = adsWidget() %}

{% for ad in ads if ad.location == 'sidebar2' %}
    <div class="panel panel-default" style="text-decoration: none">
        <div class="panel-body ">
            <div style="margin-bottom: 5px">
                {{ ad.content|raw }}
            </div>
        </div>
    </div>
{% endfor %}
