{% extends '@YesknBlog/base.html.twig' %}

{% block page_wraper %}
    <div class="row">
        <div class="col-lg-12 blog-generate-box" style="display: none">
            <div class="panel panel-default" style="padding: 10px;text-align: center">
                <div class="panel-body " style="padding: 5px">
                    <h2>开始创建属于自己的博客吧</h2>
                    <br>
                    <form action="" class="form-inline" id="generateForm">
                        <div class="form-group">
                            <label class="sr-only" for="username">用户名</label>
                            <input type="text" class="form-control" id="username" placeholder="用户名">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="blogName">博客名称</label>
                            <input type="text" class="form-control" id="blogName" placeholder="博客名称">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">密码</label>
                            <input type="password" class="form-control" id="password" placeholder="密码">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="email">邮箱</label>
                            <input type="email" class="form-control" id="email" placeholder="邮箱">
                        </div>
                        <button type="submit" class="btn btn-info">创建!</button>
                        <button class="btn btn-text">更多说明</button>
                    </form>
                    <br>
                    <div class="generate-alert alert alert-dismissible alert-danger" role="alert" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                        <div class="alert-content">用户名只允许英文字符、数字和“-”，且需要符合URL规则</div>
                    </div>
                    <div class="generate-info" style="display: none">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="sr-only">分配内存空间</span>
                            </div>
                        </div>
                        <div>分配内存空间...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row blog-list">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <img src="{{ asset('img/4.jpg') }}" alt="" width="225" height="125">
                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey"><a href="">夜色空凝</a></b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">

                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">夜色空凝</b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <img src="{{ asset('img/5.jpg') }}" alt="" width="225" height="125">
                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">夜色空凝</b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">

                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">彩虹的博客</b>
                    <br>
                    <span class="text-small-gray">创建于30天前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">

                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">夜色空凝</b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <img src="{{ asset('img/g.jpeg') }}" alt="" width="225" height="125">
                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">阿里巴巴客户组</b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">

                <div class="panel-body " style="padding: 5px">
                    <b style="color: grey">夜色空凝</b>
                    <br>
                    <span class="text-small-gray">创建于12分钟前</span>

                </div>
            </div>
        </div>
    </div>

    <script>

        function showAlert(message, type) {
            var $generateAlert = $('.generate-alert');
            var reType = type === 'success' ? 'danger' : 'success';
            $generateAlert.removeClass('alert-'+reType).addClass('alert-'+type);
            $generateAlert.find('.alert-content').text(message);
            $generateAlert.slideDown();
        }

        $('#username').change(function () {
            var $this = $(this);
            var $blogName = $('#blogName');

            if (!$blogName.attr('data-freeze')) {
                $blogName.val($this.val() + '的博客');
            }

           showAlert('WPCast将会根据你的用户名生成免费的二级域名：https://' + $this.val() + '.wpcast.net', 'success');
        });

        $('#blogName').bind('input porpertychange',function(){
            $(this).attr('data-freeze', 1);
        });

        $('#generateForm').submit(function (e) {
            e.preventDefault();
            var $submit = $('button[type="submit"]');
            $submit.html("<i class='fa fa-spinner fa-spin '></i> 校验中...");

            showAlert('用户名只允许数字、英文、“-”，且需要复合URL规范', 'danger');
        });

    </script>
{% endblock %}

