/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
/var/assets_version
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
var/SymfonyRequirements.php
!/var/data
/var/data/*
!/var/data/test.sqlite
!/var/data/vmoex.sql
/vendor/
/web/bundles/
.idea

web/avatar/*
!web/avatar/default.png
web/upload/*
!web/upload/images
!web/upload/images/.gitignore
!web/upload/cover
web/upload/cover/*
!web/upload/cover/.gitkeep
web/js
web/css
web/build
node_modules
yarn.lock
yarn-error.log
