<script type="text/html" id="modalWellMessageTpl">
    <div class="alert alert-danger alert-dismissible entityModalErrorWell fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @message@
    </div>
</script>

<script>
    $(document).ready(function() {
        function ajaxForm(formId) {
            edsUI.form(formId, function (result) {
                if(result.status) {
                    window.location = '{{ path('admin_list', {entity: entity}) }}';
                } else {
                    $('.entityModalErrorWell').remove();

                    let $well = edsUI.parse($('#modalWellMessageTpl').html(), {
                        message: result.message
                    });

                    $(formId).find('.modal-body').prepend($well);
                }

                return false;
            }, ['#saveModalFormBtn','text']);
        }

        ajaxForm('#modalForm');

        $(document).on('click', '[data-edit]', function (e) {
            e.preventDefault();

            let formId =  Math.round(Math.random()*100000000000);

            let url = edsUI.location.init($(this).attr('href'))
                .setParameter('r', formId)
                .build();

            $.get(url, function (res) {
                if (res.status === 0) {
                    showAlertModal(formId, res.message);
                }

                $('body').append(res);

                $('#entityModal'+formId).last().modal();

                ajaxForm('#modalForm'+formId);
            });
        });
    });


</script>
