{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    登录到Vmoex
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            {% if error %}
                                <div class="alert alert-danger alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    {{ error.message|trans(error.messageData, 'security') }}
                                </div>
                            {% endif %}

                            {% include '@YesknBlog/_flash_messages.html.twig' %}

                            <form data-pjax id="loginForm" action="{{ path('yeskn_login_check') }}" method="post" role="form">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="帐号或者邮箱" id="username"
                                               name="_username" value="{{ last_username }}" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="密码" type="password" id="password"
                                               name="_password" value="">
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me"> 记住登录状态
                                        </label>
                                    </div>
                                    <input type="hidden" name="_target_path" value="/admin"/>
                                    <!-- Change this to a button or input when using this as a form -->
                                    <button type="submit" class="btn btn-lg btn-success btn-block">登录</button>
                                </fieldset>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
   {% include '@YesknBlog/login-sidebar.html.twig' %}
{% endblock %}