{% extends '@YesknMain/base.html.twig' %}

{% block main %}
    <style>
        body {
            /*background-image: url("https://ww1.sinaimg.cn/large/0060lm7Tgy1fi01ahtu3sj31hc0u078q.jpg");*/
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-file-text"></i> {{ 'about_site'|trans }}
                </div>
                <div class="panel-body">
                    wpcraft是有 <a target="_blank" href="https://blog.yeskn.com">Jaggle</a> 发起的一个免费的wordpress博客托管服务和wordpress创造者交流分享的在线社区。
                </div>
            </div>
        </div>
    </div>
{% endblock %}
