<div id="landlord" style="left:5px;bottom:0px;">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="500" height="560" class="live2d"></canvas>
    <div class="live_talk_input_body">
        <div class="live_talk_input_name_body">
            <input name="name" type="text" class="live_talk_name white_input" id="AIuserName" autocomplete="off" placeholder="你的名字" />
        </div>
        <div class="live_talk_input_text_body">
            <input name="talk" type="text" class="live_talk_talk white_input" id="AIuserText" autocomplete="off" placeholder="要和我聊什么呀？"/>
            <button type="button" class="live_talk_send_btn" id="talk_send">发送</button>
        </div>
    </div>
    <input name="live_talk" id="live_talk" value="1" type="hidden" />
    <div class="live_ico_box">
        <div class="live_ico_item type_info" id="showInfoBtn"></div>
        <div class="live_ico_item type_talk" id="showTalkBtn"></div>
        <div class="live_ico_item type_music" id="musicButton"></div>
        <div class="live_ico_item type_youdu" id="youduButton"></div>
        <div class="live_ico_item type_quit" id="hideButton"></div>
        <input name="live_statu_val" id="live_statu_val" value="0" type="hidden" />
        <audio src="" style="display:none;" id="live2d_bgm" data-bgm="0" preload="none"></audio>

        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a1k361lh93t14ha1cmi238a.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a3tc42tka7q52q1jksik3a.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a30tn12gp1ptp6o10hm10gsa.mp3" type="hidden">
        <input name="live2dBGM" value="https://t1.aixinxi.net/o_1c56a58rn1m0e89q1kht1l1hctja.mp3" type="hidden">

        <input id="duType" value="douqilai,l2d_caihong" type="hidden">
    </div>
</div>
<div id="open_live2d">召唤伊斯特瓦尔</div>

<script>
    var message_Path = 'vmoex/assets/lib/live2d/';//资源目录，如果目录不对请更改
    var talkAPI = "";//如果有类似图灵机器人的聊天接口请填写接口路径
    var LIVE2D_HOME_PATH = '/assets/lib/';

    var l2dHidden = localStorage.getItem('live2dhidden');
    if (l2dHidden === null) {
        localStorage.setItem('live2dhidden', 0);
    }
</script>
