<html>
<head>
    <title>Hello</title>
</head>

<body>
<form action="{{ path('login_check') }}" method="post">
    用户名：<input type="text" name="_username">
    <input type="text" name="_password">
    <input type="hidden" name="_target_path" value="/admin"/>

    <input type="submit" value="登录">
</form>
</body>
</html>