{% extends '@YesknMain/base.html.twig' %}

 {% block page_wraper %}
     <div class="row content-row">
         <div class="col-lg-12 content-main" role="main">
             <div class="panel">
                 <div class="panel-body">
                     <div class="row">
                         <div class="col-sm-12">
                             <div style="text-align: center; padding: 20px">
                                 <h3>服务条款</h3>
                             </div>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-sm-12">
                             欢迎使用这项服务！
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
