parameters:

    # 数据库配置
    database_host: 127.0.0.1
    database_port: 3306
    database_name: vmoex-framework
    database_user: root
    database_password: ~

    # redis配置
    redis_dsn: 'redis://passwd@localhost'

    # 邮箱smtp配置
    mailer_transport: smtp
    mailer_host: ~
    mailer_user: ~
    mailer_password: ~

    # 没有规律的32个以上的字符
    secret: ~

    # 以下两项用于合并压缩js代码，必填
    node_path: /usr/bin/node
    uglifyjs2_path: /usr/bin/uglifyjs

    # websocket地址，localhost为当前网站的域名，如果为htts，则需要在下面设置证书
    socket_host: 'http://localhost:3120'

    # websocket的证书，websocket为https时必填
    socket_local_cert: ''
    socket_local_pk: ''

    # 内部推送地址，无需更改localhost，因为推送都在服务器上进行
    socket_push_host: 'http://locahost:3121'

    # 资源文件的cdn地址，不填则不用cdn
    assets_base_url: ~

    # github登录配置，不填无法使用github登录
    github_client_id: ~
    github_client_secret: ~
    github_redirect_url: ~

    # 百度翻译配置，可不填
    baidu_trans.appid: ~
    baidu_trans.key: ~
