{% if app.user is empty %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa  fa-quote-left"></i> {{ 'hello_stranger'|trans }}
            <div class="btn-group pull-right">
                <ul class="dropdown-menu slidedown">
                    <li>
                        <a href="#">
                            <i class="fa fa-check fa-fw"></i> 我知道了
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="panel-body">
            {{ 'hello_stranger_detail'|trans }}
        </div>
    </div>
{% endif %}