{% extends '@YesknCommon/base.html.twig' %}

{% block page_wraper %}
<div class="row row1">
    <div class="col-lg-12">
        <h3 class="page-header">新建标签</h3>
    </div>
    <!-- /.col-lg-12 -->
</div>
{{ form_start(form) }}
{{ form_end(form) }}
{% endblock %}