{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    关于Vmoex
                </div>
                <div class="panel-body">
                    <p>Vmoex的灵感来自 <a href="https://www.v2ex.com/">V2EX创意工作者社区</a>，V2EX大部分为互联网/IT话题，
                        因此Vmoex希望动漫、二次元、番剧的（还有萌萌哒的(●´ω｀●)φ）爱好者加入，共同交流、分享、发现、创造更多生活中的美好。
                    </p>


                    <p>Vmoex目前由<span style="color: rgb(138, 138, 138)">彩虹の恋しいw</span>维护</p>
                    <p> </p>

                    <p>Vmoex的愿景：努力打造最美好的二次元社区。</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}