<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Jake">
    {% block title %}  <title>JetBlog Homepage</title> {% endblock %}
    {% block head_css_link %}
        {% stylesheets
            'lib/bootstrap/dist/css/bootstrap.min.css'
            'lib/metisMenu/dist/metisMenu.min.css'
            'css/timeline.css'
            'css/sb-admin-2.css'
            'lib/morrisjs/morris.css'
            'lib/font-awesome/css/font-awesome.min.css'
            'lib/wangEditor/dist/css/wangEditor.min.css'
            'lib/nprogress/nprogress.css'
            'css/common.css'
            filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    {% block head_js_link %}
        {% javascripts
            'lib/jquery/dist/jquery.min.js'
            filter='uglifyjs2' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body>
<div class="container">

    {% block navbar %}
        {% include '@YesknBlog/nav.html.twig' %}
    {% endblock %}

    <div class="content-body">
        {% block page_wraper %}
            <div class="row content-row">
                <div class="col-lg-8 content-main">
                    {% block main %}{% endblock %}
                </div>
                {% block sidebar %}
                    {% include '@YesknBlog/sidebar.html.twig' with {sidebar_head: block('sidebar_head')} %}
                {% endblock %}
            </div>

        {% endblock %}
    </div>

    {% block footer %}
        <div class="container footer">
            <p class="copy" style="text-align: center;padding: 5px" data-original-title="powered by Yeskn">© 2016
                Yeskn</p>
        </div>
    {% endblock %}
</div>
{% block foot_js_link %}

    {% javascripts
        'lib/bootstrap/dist/js/bootstrap.min.js'
        'lib/metisMenu/dist/metisMenu.min.js'
        'lib/bootstrap/js/popover.js'
        'js/sb-admin-2.js'
        'lib/nprogress/nprogress.js'
        'lib/jquery-pjax/jquery.pjax.js'
        'lib/wangEditor/dist/js/wangEditor.min.js'
        'js/common.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
</body>
</html>
