{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    GalGame
                </div>
                <div class="panel-body">
                  此板块用于分享交流GalGame相关内容，此功能正在开发中。
                </div>
            </div>
        </div>
    </div>
{% endblock %}