<div class="col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            第三方登录
        </div>
        <div class="panel-body hot-tags">
            <button class="btn btn-default btn-success"><i class="fa fa-wechat"></i> 微信登录</button>
        </div>
    </div>
</div>