{% extends '@YesknBlog/base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索“{{ word }}”的结果
                </div>
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#posts" data-toggle="tab">文章</a>
                        </li>
                        <li class=""><a href="#users" data-toggle="tab">用户</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="posts">
                            {% if posts[0] %}
                                <ul>
                                    {% for post in posts[0] %}
                                        <li>
                                            {{ post.title }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>抱歉，没有搜索到任何文章</p>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="users">
                            {% if users[0] %}
                                <ul>
                                    {% for user in users[0] %}
                                        <li>
                                            {{ user.nickname }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>抱歉，没有搜索到任何用户</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
{% endblock %}