{% form_theme form 'form/vertical-field-1.html.twig' %}

<div class="modal fade" id="addTranslateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form, {attr: {class: 'form-horizontal', id: 'addTranslateForm', action: path('admin_translation_add')}}) }}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">增加翻译</h4>
                </div>
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success" id="saveTranslateBtn">保存</button>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>
