body {
    cursor: url('/img/p.cur'), url(/img/p.cur), auto;
    background: url("/img/zhMoegirl18summer.jpg") no-repeat top left #f6f6f6;
}
html,body{overflow:hidden;overflow-y:auto;}
a{
    color: #737373;
}
a:hover{
    color: #737373;
    text-decoration: underline;
}
.dropdown-menu.dropdown-user{
    margin-top: 0;
}
.badge {
    font-weight: normal;
    background-color: #f5f5f5;
    color: #778087;
}
.hot-tags a{
    padding: 4px 4px;
    display: inline-block;
    background: #dd4b39;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #eee;
}
.hot-tags a:hover{
    color:#dd4b39;
    background: #fff;
}

.post-meta span{
    padding-right: 10px;
}
article.main{
    padding-left:15px;
    border-bottom: 1px solid #e7e7e7;
}
.home-content-main {
    background: #fff;
    border-radius: 3px;
}
article span.item-title {
    font-size: 16px;
    display: inline-block;
    padding: 10px 0;
}

article span.item-small-title {
    font-size: 16px;
    display: inline-block;
    padding-bottom: 5px;
}

article> div > div.col-md-4 {
    text-align: center;
}
article.main img{
    height: 55px;
    width: 55px;
    vertical-align: middle;
    border-radius: 2px;
}


.container.footer{
    border-top: 1px solid #e7e7e7;
}
.container.footer ul{
    list-style-type: none;
}
.container.footer ul li{
    float:  left;
}
.content{
    padding: 15px;
    margin-bottom: 10px;
    text-align: justify;
}
.content .post-content {
    font-size: 16px;
}
.border-top{
    border-top: 1px solid #e7e7e7;
}
.border-bottom{
    border-bottom: 1px solid #e7e7e7;
}

h3.border-bottom{
    padding-bottom: 15px;
}
.margin-top-10{
    margin-top: 10px;
}
.float-left{
    float: left;
}
.fr{
    float: right;
    text-align: right;
}
.reply_content {
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    word-break: break-all;
    word-wrap: break-word;
}
.cell {
    padding: 10px;
    font-size: 12px;
    line-height: 120%;
    text-align: left;
    border-bottom: 1px solid #e2e2e2;
}

.login-panel {
    margin-top: 0  !important;
}

#loginForm {
    margin: 20px 0;
}
.footer.container {
    margin-top: 100px;
}

#search-content {
    width: 200px
}

.content-main {
    margin-bottom: 20px;
    opacity: 0.98;
}

.content-main .content img {
    width: 100%;
    margin-bottom: 5px;
}

.item-tag {
    font-size: small;
    color: #666666;
    font-style: italic;
}

nav.navbar-static-top {
    opacity: 0.98;
}

li.user-meta {
    border: none;
}
.tab-content{
    padding: 10px;
}
.pagination > li > a,
.pagination > li > span {
    color: #b4b4b4;
    background-color: #fff;
    border: 1px solid #e4e4e4;
}


.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    z-index: 3;
    color: #e4e4e4;
    border-color: #e4e4e4;
    background-color: transparent;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    color: #b4b4b4;
    background-color: #fff;
    border-color: #e4e4e4;
    cursor: not-allowed;
}

.modal-content {
    border-radius: 2px;
}

li.messages ul li div a {
    padding: 2px !important;
}
.post-avatar {
    padding: 10px;
    vertical-align:middle;
}

.post-avatar, .post-info {
    float: none;
    display: table-cell;
}

.post-info {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}

.home-post-info {
    margin-left: 0;
    padding-left: 0;
    float: none;
    display: table-cell;
}

.home-name {
    font-size: 18px;
    display: inline-block;
    padding-bottom: 10px;
}

.home-article-main {
    margin-top: 0 !important;
    padding-bottom: 10px !important;
    margin-bottom: 10px;
}

.home-bq {
    font-size: 14px;
    padding-top: 0;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 0;
}

.progress {
    height: 10px;
    margin-bottom: 10px;
}
.comments{
    padding: 0 10px 10px 10px;
}
.comment-main {
    margin-left: 60px;
}
.comments > ul > li> span > img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
}
.comments li.comment-item {
    padding-bottom: 0;
}
.comments .comment-user-info {
    padding-bottom: 5px;
}
.my-messages ul.messages {
    list-style-type: none;
    padding-left: 0;
}
@media (min-width: 767px) {
    .navbar-avatar-mobile {
        display: none !important;
    }

    #navbar-collapse-user {
        display: none !important;
    }
}

/************************** 手机 ***************/
@media (max-width: 767px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    article.main img {
        height: 30px;
        width: 30px;
    }

    article span.item-title {
        font-size: 16px;
    }
    .post-avatar {
        vertical-align: text-top;
        padding: 5px;
    }
    .navbar-form .form-group {
        display: inline-block;
    }

    .navbar-form {
        text-align: center;
    }

    ul.navbar-left li {
        text-align: center;
    }

    .navbar-avatar-mobile {
        display: block;
        padding: 0;
        border: none;
        position: relative;
        float: right;
        margin-top: 8px;
        margin-right: 10px;
    }
    .navbar-avatar-mobile:focus {
        background: #ddd;
    }
    .navbar-avatar-mobile img {
        width: 33px;
        height: 33px;
    }
    .navbar-right {
        display: none;
    }
    .navbar-item-custom {
        border: none;
        margin-left: 0;
        padding-left: 5px;
        margin-right: 5px;
        padding-right: 5px;
    }
    .navbar-item-custom:focus {
        background-color: #f8f8f8 !important;
    }
    .navbar-item-alert {
        margin-right: 0;
    }
    .navbar-item-custom span.badge {
        background: #FFC125;
        color: #fff;
    }
    .navbar-item-custom a {
        text-decoration: none;
    }
    .comments {
        padding-left: 5px;
        padding-right: 5px;
    }
    .comment-main {
        margin-left: 35px !important;
    }
    .comments > ul > li> span > img {
        width: 30px;
        height: 30px;
    }
    .comments span.comment-user-avatar {
        display: block;
    }
    .post-meta span {
        padding-right: 5px;
    }
}

.content > h2 {
    margin-top: 0;
}

.user-home .user-meta {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 3px;
}

.user-home .user-meta .btn-sm {
    margin-bottom: 5px;
}

footer {
    display: flex;
    height: 301px;
    background: url('/img/763552f474305423.png');
    background-position: bottom right;
    background-repeat: no-repeat
}

footer .copy {
    cursor: pointer;
    text-align: center;
    padding: 5px
}

footer .power {
    color: rgb(138, 138, 138);
    text-align: center;
    padding: 5px
}

footer .power span {
    color: #e27575;
    font-size: 14px;
}

.post-meta {
    color: #9d9d9d;
}

.post-meta a {
    font-weight: bold;
    color: #778087;
}

.comment-footer {
    margin-top: 5px;
    font-size: 12px;
    color: darkgray;
}

.comment-footer span {
    display: inline-block;
}

.text-small-gray {
    color: darkgray;
    font-size: 12px;
}

.comment-footer span.thumb {
    cursor: pointer;
}

article.main span.category a, .post-meta span.category a{
    font-weight: normal;
    background-color: #f5f5f5;
    color: #778087;
}

.post-actions {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.post-actions span {
    color: #666666;
    display: inline-block;
    margin-right: 10px;
}
.post-actions span.last {
    margin-right: 0;
   color: darkgray;
    font-size: 12px;
}

.user-home .user-online {
    vertical-align: super ;
    margin-left: 10px;
    padding: 0 4px;
    display: inline-block;
    font-size: 12px;
    background: rgb(76, 175, 80);
    color: white;
    border-radius: 4px;
}

.user-meta small {
    display: inline-block;
}
.emotion-content-container a {
    text-decoration: none;
    background-color: #f7f7f7;
    border-radius: 5px;
    display: inline-block;
    line-height: 14px;
    margin: 0 10px 12px 0;
    transition: .3s;
}

.emotion-content-container a:hover {
    background-color: #eee;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-animation: a 5s infinite ease-in-out;
    animation: a 5s infinite ease-in-out;
}
ul.pagination {
   padding: 0 15px;
}

.mod-text {
    background-color: #66A3DF;
    font-size: xx-small;
    padding: 1px 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}

.author-label {
    background-color: #4cae4c;
    font-size: xx-small;
    padding: 1px 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}

.post-content blockquote {
    display: block;
    border-left: 8px solid #d0e5f2;
    padding: 5px 10px;
    margin: 10px 0;
    line-height: 1.4;
    font-size: 100%;
    background-color: #f1f1f1
}

.tab-list {
    padding: 10px;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.tab-list a {
    margin: 0 4px;
    color: #80bd01;
    padding: 3px 4px;
    border-radius: 3px;
}

.tab-list a.current-tab {
    background-color: #80bd01;
    color: #fff;

}

.tab-list a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #80bd01;
}

.txt-toolbar .panel-tab .content-container .content a, .wangEditor-drop-panel .panel-tab .content-container .content a {
    padding: 5px;
    margin: 5px;
}
.text-underline {
    text-decoration: underline;
}