{% extends '@YesknAdmin/base.html.twig' %}

{% block page_wraper %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">网站管理 - 基本管理</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">网站信息</div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                        <div class="form-group">
                            <label for="siteName" class="col-sm-2 control-label"> 网站名称：</label>
                            <div class="col-sm-6">
                                <input readonly class="form-control" type="text" id="siteName" placeholder="请在翻译管理中搜索'site_name'来修改">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="siteTitle" class="col-sm-2 control-label">网站长标题：</label>
                            <div class="col-sm-6">
                                <input readonly class="form-control" type="text" id="siteTitle" placeholder="请在翻译管理中搜索'site_title'来进行修改">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="siteLogo" class="col-sm-2 control-label">网站LOGO：</label>
                            <div class="col-sm-6">
                                <img width="340" height="110" src="http://local.wpcraft.cn/assets/images/logo.png" alt="">
                                <input class="form-control" type="file" name="siteLogo" id="siteLogo">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="siteSince" class="col-sm-2 control-label">成立时间：</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="date" name="siteSince" id="siteSince">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}