<div class="panel panel-default">
    <div class="panel-body ">
   <div style="margin-bottom: 5px">
       <a target="_blank" href="https://www.vultr.com/?ref=7228942">
           <div class="text-small-gray text-center">优惠Vps，注册可立即获得$10</div>
           {#<img src="https://www.vultr.com/media/banner_3.png?www" alt="">#}
       </a>
   </div>

</div>
</div>